/BonecoFactory.class
/BonecoImagemFactory.class
/BonecoTextoFactory.class
/ElementoGraficoFactory.class
/ElementoGraficoImagemFactory.class
/ElementoGraficoTextoFactory.class
/LetraFactory.class
/LetraFactoryImpl.class
/LetraImagemFactory.class
/LetraTextoFactory.class
