/BonecoFactory.class
/BonecoImagemFactory.class
/BonecoTextoFactory.class
/ElementoGraficoFactory.class
/ElementoGraficoImagemFactory.class
/ElementoGraficoTextoFactory.class
/LetraFactory.class
/LetraFactoryImpl.class
/LetraImagemFactory.class
/LetraTextoFactory.class
/EntityFactory.class
/JogadorFactory.class
/JogadorFactoryImpl.class
/PalavraFactory.class
/PalavraFactoryImpl.class
/RodadaFactory.class
/RodadaFactoryImpl.class
/RodadaSorteioFactory.class
/TemaFactory.class
/TemaFactoryImpl.class
