/Boneco.class
/BonecoImagem.class
/BonecoTexto.class
/Item.class
/Jogador.class
/Letra.class
/LetraImagem.class
/LetraTexto.class
/ObjetoDominio.class
/ObjetoDominioImpl.class
/Palavra.class
/Rodada.class
/Tema.class
/BonecoFactory.class
/LetraFactory.class
